.socialBTN {
    position: fixed;
    font-size: 0;
    display: none;
    @include breakpoint(992px) {
        top: 50%;
        left: calc((100% - 85%) / 2);
        @include translate(-100%, -50%);
    }
    @include breakpoint(1200px) {
        left: calc((100% - 1005px) / 2);
    }
    @include breakpoint(max-width 991px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 20px;
        text-align: center;
        border-top: 1px solid $gray-200;
        background-color: rgba($white, 0.9);
        backdrop-filter: blur(3px);
        @include translateY(100%);
        @include transition(transform 0.3s);
        z-index: 6;
        &.show {
            @include translateY(0%);
        }
    }
    &.show {
        display: block;
    }
    > * {
        @include breakpoint(max-width 991px) {
            display: inline-block;
            vertical-align: middle;
        }
    }
    ul {
        @include breakpoint(992px) {
            padding-bottom: 10px;
        }
        li {
            position: relative;
            @include breakpoint(max-width 991px) {
                display: inline-block;
            }
            @include breakpoint(992px) {
                margin-bottom: 5px;
            }
            a {
                display: block;
                padding: 5px;
                border: 1px solid transparent;
                @include breakpoint(375px) {
                    padding: 5px 10px;
                }
                img {
                    width: auto;
                    height: 1.75rem;
                }
                &:hover {
                    background-color: $white;
                    border-color: $gray-300;
                }
            }
            #cpoySuccess {
                position: absolute;
                display: none;
                width: calc(7em + 40px);
                padding: 10px 20px;
                color: $white;
                font-size: 1rem;
                background-color: $gray-400;
                @include breakpoint(max-width 991px) {
                    bottom: 100%;
                    left: 50%;
                    margin-bottom: 20px;
                    @include translateX(-50%);
                }
                @include breakpoint(992px) {
                    top: 50%;
                    left: 100%;
                    margin-left: 10px;
                    @include translateY(-50%);
                }
            }
        }
    }
    .fb-like-iframe {
        @include breakpoint(max-width 991px) {
            width: 54px !important;
            height: 28px !important;
            margin-right: 10px;
            &.desktop {
                display: none;
            }
            &.mobile {
                display: inline-block;
            }
        }
        @include breakpoint(992px) {
            width: 50px !important;
            height: 66px !important;
            &.desktop {
                display: block;
            }
            &.mobile {
                display: none;
            }
        }
        @include breakpoint(max-width 374px) {
            margin-right: 5px;
        }
    }
}

.article-body + .social {
    @include breakpoint(max-width 991px) {
        display: none;
    }
}