$article: 970px;
$red: #d60c18;
$purple-dark: #313160;
$purple-light: #2c156f;
$purple-lighten: #4b4b77;
$cookies: #95ffff;
$gray-100: #f2f2f2;
$gray-200: #dadada;
$gray-300: #aaa;
$gray-400: #777;
$gray-500: #333;
$black: #000;
$text: $black;
